body {
  background-color: #c2f9dc;
  font-size: 12px;
}
.App {
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  box-sizing: border-box;
  min-height: 100vh;
}
.container {
  height: 100px;
  width: 200px;
  border: 2px solid black;
}
.textbox {
  padding: 10px;
  margin: 30px;
  border-color: transparent;
}
.button {
  padding: 10px;
  margin: 30px;
  background-color: white;
  border-color: transparent;
}
